@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;700&family=Exo+2:wght@700;900&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Roboto:wght@100;300;400;500;700;900&family=Rowdies:wght@300;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

/*------------------ Work in progress -------------*/
.WIP{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    text-align: center;
    font-size: 60px;
    font-family: 'Roboto',sans-serif;
}
/*----------------- Lock Scrolling ----------------*/
.lock-scroll {
    overflow: hidden;
}

/*------------------ Header -----------------------*/
.hamburgerButton,.hamburgerButtonDisplay{
    display: none;
}
a{
    text-decoration: none;
}
header{
    height: 12.5vh;
    width: 100%;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    position: fixed;
    background: white;
    z-index: 10;
    top: 0;
}
header nav{
    width: 90%;
    padding: 0 5%;
    height: 7.5vh;
    display: flex;
    align-items: center;
    position: relative;
}
header nav ul{
    height: 100%;
    width: 80%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 4fr 1fr;
}

header nav ul li{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}
header nav ul li a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    font-size: 16px;
}
header nav ul li a:hover:not(:nth-child(4),:nth-child(5)){
    background:#21212110;
    cursor: pointer;
    color: rgb(248, 126, 45);
}
header nav ul li:nth-child(3){
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.searchBar{
    border: none;
    height: 30px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchBar input{
    width: 90%;
    height: 100%;
    z-index: 1;
    padding: 2.5px 20px;
    border-radius: 5px;
}
.searchBar svg{
    position: absolute;
    z-index: 2;
    right: 2%;
    transition: 0.2s;
}
.searchBar svg:hover{
    cursor: pointer;
    scale: 1.1;
}
.icon{
    width: 25px;
    transition: 0.1s;
}
.icon:hover{
    scale:1.2;
    cursor:pointer;
}
#shopCartContainer{
    position: relative;
    display: flex;
}
#shopCart{
    z-index: 8;
}
#cartQuantity{
    position: absolute;
    top: -4.5px;
    right: -5px;
    z-index: 9;
    font-size: 10px;
    background: red;
    padding: 1px;
    width: 15px;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    text-align: center;
}
.bounce{
    animation: bounce 0.5s;
    stroke: black;
    stroke-width: 1.5;
    fill: rgb(248, 126, 45);
}
@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
.interactContainer{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.interactContainer a{
    width: auto;
    height: auto;
}
header .topLiner{
    height: 5vh;
    background: black;
}
.logoContainer{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoContainer a{
    width: auto;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    height: 100%;
}
/*---------- Hamburger Button --------------------*/
#hamburgerCheckbox{
    display: none;
}
.hamburgerButton{
    transition: 1s;
    position: absolute;
    right: 2.5%;
    display: none;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}

.hamburgerButton span{
    display: block;
    margin: 4px auto;
    width: 22px;
    height: 4px;
    background: black;
    border-radius: 100px;
    transition: 0.5s;
}
#hamburgerCheckbox:checked ~ .hamburgerButton span:nth-child(1){
    position: absolute;
    right: 30%;
    left: 30%;
    width: 30px;
    transform: rotate(45deg);
    transform-origin: top left;
}
#hamburgerCheckbox:checked ~ .hamburgerButton span:nth-child(2){
    position: absolute;
    opacity: 0;
    top: 40%;
    bottom: 40%;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    
}
#hamburgerCheckbox:checked ~ .hamburgerButton span:nth-child(3){
    position: absolute;
    width: 30px;
    top: 25px;
    right: 30%;
    left: 30%;
    transform: rotate(-45deg);
    transform-origin: bottom left;
}

/*------------------ About Slide ----------------*/
.aboutContainer{
    width: 70%;
    padding: 12.5vh 15%;
    height: 75vh;
    background:url(../Images/aboutBg.jpg);
    background-size: cover;
    /* background: linear-gradient(-45deg, rgba(88, 35, 0) 0%, rgb(6, 6, 6) 25%, rgba(6,6,6,1) 75%, rgb(88, 35, 0) 100%); */
    position: fixed;
    color: #121212;
    top: 0;
    left: -100%;
    border-top-right-radius: 5% 50%;
    border-bottom-right-radius: 5% 50%;
    z-index: 15;
    font-family: 'Roboto',sans-serif;
    transition: 0.75s ease-in-out;
    display: flex;
    align-items: center;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.15);
}
.closeAbout{
    display: flex;
    width: 10%;
    margin-right: 5%;
    height: 75px;
    align-items: center;
}
.closeAbout button{
    width: 75px;
    aspect-ratio: 1;
    background: black;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.closeAbout button svg{
    transform: translateX(-2.5px);
    width: 50px;
    height: 50px;
}
.closeAbout button:hover{
    background: rgb(248, 126, 45);
    cursor: pointer;
    transform: translateX(-15%);
}
.closeAbout button:hover svg{
    stroke: white;
}
.aboutContent{
    width: 85%;
}
.aboutInfo img{
    width: 50%;
    filter: drop-shadow(16px 16px 2px rgba(0,0,0,0.15));
    transform: translateX(-5%);
    margin-bottom: 15px;
    pointer-events: none;
}
.aboutInfo .logos{
    margin-bottom: 25px;
}
.aboutInfo #mountainLogo{
    margin-right: 25px;
    height: 100px;
    width: auto;
    filter: drop-shadow(4px 4px 2px rgba(0,0,0,0.25));
}
.aboutInfo{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 25px;
}
.aboutInfo h2{
    font-size: 30px;
}
.aboutInfo p{
    font-size: 24px;
}

/*-------------------Landing---------------------*/
.mainAdvertisement{
    margin-top: 12.5vh;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../Images/Mountains.jpg);
    background-size: cover;
    background-position: center center;
}
.mainAdvertisement h1{
    min-width: 75%;
    text-align: center;
    font-size: 48px;
    color: white;
    text-transform: uppercase;
    font-family: 'Amiko',sans-serif;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.35);
}
.mainAdvertisement h2{
    font-size: 36px;
    color: rgb(216,66,29);
    font-family: 'Caveat', cursive;
}
.mainAdvertisement img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.landingPage{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.websiteInfo{
    height: 10vh;
    width: 80%;
    margin: 5vh 10%;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.websiteInfo h2{
    margin: 0;
    padding: 0;
    display: none;
}
.websiteInfo div:nth-child(2){
    border-left: 1px solid black;
}
.websiteInfo div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'Roboto',sans-serif;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 0 20px;
    border-right: 1px solid black;
}
.sidebar{
    display: flex;
    flex-direction: column;
    position: sticky;
    left: 0;
    top: 60px;
    width: 17.5%;
    background: rgb(255, 255, 255);
    height: 90vh;
    padding: 5vh 0;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto',sans-serif;
}
.sidebar .filter{
    margin-left: 15%;
}
.sidebar h1,.sidebar h2{
    padding: 0;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    gap: 5px;
    margin: 15px 0 15px 10%
}
.sidebar h1{
    width: auto;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 30px;
    margin-right: 15%;
}
input[type=checkbox]{
    accent-color: rgb(248, 126, 45);
}
.sidebar .option{
    margin-left: 10%;
    display: flex;
    gap: 10px;
    width: 75%;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.822);
    font-size: 20px;
    margin-bottom: 2.5px;
}
.sidebar .option label{
    font-size: 18px;
}
.sidebar svg{
    transform: rotate(180deg);
}
.sidebar label:hover{
    cursor: pointer;
    color: rgb(248, 126, 45);
}
.productsContainer{
    min-height: 50vh;
    width: auto;
    padding: 10vh 0;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.endOfProducts{
    margin-top: 5vh;
    height: 15vh;
    padding: 7.5vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    grid-column: 1/5;
}
.endOfProducts p{
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.233);
    margin-bottom: 20px;
}
.endOfProducts .socialIcons{
    display: flex;
    justify-content: space-around;
    min-width: 50%;
}
.endOfProducts .socialIcons div{
    display: flex;
    flex-direction: column;
    font-size: 10px;
    text-transform: uppercase;
    align-items: center;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
/*-------------- Card --------------------*/
.card{
    width: 250px;
    height: 350px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.card .cardImgContainer{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.cardImgContainer .likeButton{
    position: absolute;
    top:5px;
    right: 5px;
    z-index: 8;
    border: none;
    background: none;
}
.cardImgContainer .likeButton svg:hover{
    cursor: pointer;
    fill: rgb(248, 126, 45);
}
.cardContent{
    width: 90%;
    padding: 0 5%;
}
.card img{
    border-radius: 5px;
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center center;
    transition: 0.2s ease-in-out;
}
.card img:hover{
    scale: 1.05;
}
.card .productTittle{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 0;
    font-weight: 400;
}
.card .productPrice{
    font-weight: 700;
    margin: 10px 0;
}
.card .buttons{
    display: flex;
    width: 100%;
    gap: 15px;
    justify-content: space-between;
    margin-bottom: 15px;
}
.card a:nth-child(1){
    flex-basis: 60%;
}
.card a:nth-child(1) .button{
    background-color: black;
    border: none;
    width: 100%;
}
.card a:nth-child(1) .button:hover{
    background: lightgray;
    color: black;
    cursor: pointer;
}
.card .button{
    background-color: rgb(248, 126, 45);
    border: none;
}
.card .button:hover{
    cursor: pointer;
    background: lightgray;
}
.card .button:active{
    background: red;
    color: white;
}
.card .button:hover svg{
    stroke: black;
}
.card .button:active svg{
    stroke: white;
}
.card .buttons .button{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    height: 40px;
    padding: 5px 20px;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-family: 'Roboto',sans-serif;
    gap: 5px;
}
/*---------------  Product Detail   -------------*/
.productDetailContainer{
    margin-top: 12.5vh;
    height: 87.5vh;
    width: 80%;
    padding: 0 10%;
    display: flex;
    gap: 5%;
    align-items: center;
}
.productDetailContainer .productImage{
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
}
.productDetailContainer .productImage img{
    object-fit: cover;
}
.productDetailContainer .productDetail{
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: 'Roboto',sans-serif;
    height: 500px;
    width: 100%;
}
.productDetailContainer .productDetail h1{
    font-size: 22px;
    margin-bottom: 10px;
}
.productDetailContainer .productDetail h2{
    color: rgb(248, 126, 45);
    margin-bottom: 20px;
}
.productDetailContainer .productDetail h2, .productDetailContainer .productDetail p{
    font-size: 20px;
    font-weight: 400;
}
.productDetailContainer .productDetail p{
    height: auto;
    width: 80%;
    color: rgba(0, 0, 0, 0.7);
    padding: 20px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    margin-left: 10px;
}
.productDetailContainer .productDetail h3{
    font-weight: 400;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.7);
}
.productDetailContainer .buttons{
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: auto;
    margin-bottom: 20px;
}
.productDetailContainer .buttons div{
    display: flex;
    justify-content: space-around;
}
.buttons div .addButton,.buttons div .substractButton{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    stroke: white;
    background: black;
    border-radius: 5px;
}
.addButton svg:hover, .substractButton svg:hover{
    cursor: pointer;
    background: lightgray;
    border-radius: 5px;
    stroke: black !important;
    border: 1px solid black;
    box-sizing: border-box;
}
.addButton svg:active, .substractButton svg:active{
    background: rgb(248, 126, 45);
}
.productDetailContainer .buttons div svg{
    stroke: white;
}
.productDetailContainer .buttons div .quantityInput{
    width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 0 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.productDetailContainer .buttons .addToCart{
    padding: 5px 10px;
    width: 150px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    height: 40px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    color: white;
    background: rgb(248, 126, 45);
    margin-right: 10px;
}
.productDetailContainer .buttons .likeButton{
    border: none;
    width: 40px;
    background: rgb(248, 126, 45);
    border-radius: 5px;
}
.productDetailContainer .buttons .likeButton:hover, .productDetailContainer .buttons .likeButton:hover svg{
    background: lightgray;
    cursor: pointer;
    stroke: black;
}
.productDetailContainer .buttons .addToCart:hover{
    background: lightgray;
    color: black;
    cursor: pointer;
}
.productDetailContainer .buttons .likeButton:active, .productDetailContainer .buttons .likeButton:active svg, .productDetailContainer .buttons .addToCart:active{
    background: red;
    color: white;
    stroke: white;
}
.productDetailContainer .productDetail select{
    margin-left: 15px;
    width: 80px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
/*------------Liked & Cart Products---------------------*/
.likedProductsContainer, .cartProductsContainer{
    height: auto;
    width: 70%;
    padding: 2.5vh 15%;
    margin-bottom: 100px;
}
.likedProductsContainer{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.cartProductsContainer .messageSection{
    margin-bottom: 25px;
}
.cartProductsContainer section{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.cartProductsContainer section .messageSection{
    justify-content: space-between;
}
.cartProductsContainer section .messageSection .cartButtons{
    display: flex;
    gap: 25px;
    width: auto;
}
.cartProductsContainer section .messageSection .cartButtons button{
    width: 150px;
    padding: 10px 0;
    background: black;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 5px;
    border: none;
}
.cartProductsContainer section .messageSection .cartButtons button:hover{
    background: lightgray;
    color: black;
    border: none;
    cursor: pointer;
}
.cartProductsContainer section .messageSection .cartButtons button:active{
    background: rgb(248, 126, 45);
}
.cartProductsContainer section .messageSection h2{
    justify-self: end;
}
.websitePath{
    width: 70%;
    padding: 0 15%;
    margin-top: 17.5vh;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
}
.websitePath p{
    display: flex;
    width: auto;
    gap: 10px;
    color: rgba(0, 0, 0, 0.75);
}
.websitePath span{
    color: rgb(248, 126, 45);
}
.sectionTitle{
    width: 70%;
    padding: 0 15%;
    margin: 5vh 0;
    height: 20vh;
    background: rgb(247, 247, 247);
    display: flex;
    align-items: center;
}
.sectionTitle h1{
    width: auto;
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 32px;
    font-family: 'Roboto',sans-serif;
}
.sectionTitle h1 svg{
    height: 35px;
}
.messageSection{
    width: 95%;
    background: rgb(247, 247, 247);
    display: flex;
    padding: 25px 2.5%;
    align-items: center;
    gap: 25px;
    font-family: 'Roboto',sans-serif;
    border-top: 2px solid rgb(248, 126, 45);
}
.messageSection h3{
    font-weight: 400;
}
.returnToProducts button{
    padding: 15px 25px;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    background: rgb(248, 126, 45);
    border: none;
    border-radius: 5px;
    color: white;
}
.returnToProducts button:hover{
    color: black;
    background: lightgray;
    cursor: pointer;
}
.likedProduct, .cartProduct{
    font-family: 'Roboto',sans-serif;
    height: 150px;
    width: 100%;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(0, 0, 0, 0.06);
    display: grid;
    align-items: center;
}
.likedProduct{
    grid-template-columns: 1fr 1fr 4fr 2fr;
}
.cartProduct{
    grid-template-columns: 1fr 1fr 4fr 2fr 2fr;
}
.likedProduct svg, .cartProduct svg{
    width: 40px;
    justify-self: center;
}
.likedProduct a, .cartProduct a{
    height: inherit;
}
.likedProduct a img, .cartProduct a img{
    height: inherit;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.06);
}
.likedProduct .productContent, .cartProduct .productContent{
    width: 90%;
    padding: 0 5%;
    margin-top: 25px;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    gap: 5px;
}
.likedProduct .productContent a, .likedProduct .productContent a h3, .cartProduct .productContent a, .cartProduct .productContent a h3{
    text-decoration: none;
    color: black;
}
.likedProduct .productContent a h3:hover, .cartProduct .productContent a h3:hover{
    color: rgb(248, 126, 45);
}
.likedProduct .productContent h3, .cartProduct .productContent h3{
    color: rgb(248, 126, 45);
}
.cartProduct .quantity{
    display: flex;
    width: 150px;
    justify-content: space-between;
}
.cartProduct .quantity div{
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 0 10px;
    padding: 5px 10px;
    min-width: 30px;
    text-align: center;
}
.likedProduct .buttons, .cartProduct .buttons{
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.06);
}
.likedProduct .buttons a, .cartProduct .buttons a{
    height: auto;
}
.likedProduct .button, .cartProduct .button{
    background-color: black;
    border: none;
    width: 150px;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 14px;
    height: 40px;
    font-weight: 600;
}
.likedProduct .button:hover, .cartProduct .button:hover{
    background: lightgray;
    color: black;
    cursor: pointer;
}
.likedProduct .buttons .addToCart, .cartProduct .buttons .addToCart{
    padding: 5px 10px;
    width: 150px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    height: 40px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    color: white;
    background: rgb(248, 126, 45);
}
.likedProduct .buttons .addToCart:hover, .cartProduct .buttons .addToCart:hover{
    background: lightgray;
    color: black;
    cursor: pointer;
}
.cartProduct .buttons{
    padding: 0 10px;
}
.cartProduct .subTotal{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px;
}
.cartProduct .subTotal h2, .cartProduct .subTotal p{
    font-size: 18px;
}
.cartProduct .subTotal p{
    color: rgb(248, 126, 45);
    font-weight: 700;
}

/*-----------------------------------------------*/
@media (max-width:1600px){
    .productsContainer{
        gap: 15px;
    }
}

@media (max-width:1300px){
    header nav ul{
        grid-template-columns: 1fr 1fr 1fr 3fr 0.75fr;
    }
    header nav{
        width: 95%;
        padding: 0% 2.5%;
    }
    .interactContainer{
        justify-content: space-around;
        gap: 0;
    }
    .productsContainer{
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 10% 0 0 0;
        height: auto;
    }
    .sidebar{
        width: 225px;
    }
    .endOfProducts .socialIcons{
        width: 100%;
    }
}

@media (max-width:925px){
    /*--------- Header ----------*/
    header{
        position: fixed;
        top: 0;
        z-index: 10;
        background: white;
        height: 10vh;
        width: 100%;
    }
    header nav{
        height: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    header nav ul{
        transition: 0.5s ease;
        display: flex;
        flex-direction: column;
        height: auto;
        background: white;
        position: absolute;
        top: 10vh;
        width: 0%;
        right: 0;
    }
    header nav ul li{
        border: none;
        width: 100%;
        height: auto;
        margin: 5px 0;
    }
    header nav ul li a{
        width: 100px;
        height: 25px;
    }
    header nav ul .searchBar{
        height: 20px;
        padding: 0 10%;
        width: 80%;
        margin: 10px 0;
    }
    header nav ul .searchBar svg{
        right: 12.5%;
        height: 20px;
    }
    header nav ul .interactContainer{
        justify-content: center;
        gap: 25px;
    }
    header nav ul li, header ul svg, header ul input{
        display: none;
    }
    .logoContainer{
        padding: 1.25vh 0;
        height: 7.5vh;
        width: auto;
        align-self: flex-start;
        margin-left: 5%;
    }
    .hamburgerButton{
        display: block;
        z-index: 10;
    }
    #hamburgerCheckbox:checked ~ ul{
        width: 100%;
        display: initial;
    }
    #hamburgerCheckbox:checked ~ ul li, #hamburgerCheckbox:checked ~ ul svg, #hamburgerCheckbox:checked ~ ul input{
        display:flex;
    }
    .topLiner{
        display: none;
    }
    /*--------- Landing ----------*/
    .mainAdvertisement{
        margin-top: 10vh;
    }
    .productsContainer{
        z-index: 1;
        width: 90%;
        padding: 10% 2.5% 0 2.5%;
    }
    .sidebar{
        display: none;
    }
    .websiteInfo{
        z-index: 1;
        width: 90%;
        margin: 5vh 5%;
    }
    .websiteInfo div{
        padding: 0 10px;
    }
    .endOfProducts{
        padding: 4vh 0;
    }
    .endOfProducts p{
        padding-bottom: 25px;
    }
    /*--------- Product Detail ---------*/
    .productDetailContainer{
        margin-top: 100px;
        z-index: 1;
        padding: 0 2.5%;
        width: 95%;
        align-items: flex-start;
    }
    .productDetailContainer .productDetail{
        width: 40%;
    }
    .productDetailContainer .productImage{
        width: 60%;
        height: 60%;
    }
    .productDetailContainer .productImage img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .productDetailContainer .productDetail p{
        width: 100%;
    }
    /*--------- Cart & Liked Products ---------*/
    .likedProductsContainer, .cartProductsContainer{
        width: 85%;
        padding: 0 7.5%;
    }
}

@media (max-width:725px){
    .card{
        width: 180px;
        min-height: 250px;
    }
    .card .buttons{
        gap: 5px;
    }
    .card a:nth-child(2) .button{
        padding: 5px 15px;
    }
    .productsContainer{
        width: 95%;
        padding: 0 2.5%;
    }
    .websiteInfo{
        flex-direction: column;
        height: auto;
        padding: 5vh 0;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.233);
    }
    .websiteInfo div{
        height: 35px;
        border-bottom: 1px solid black;
        border-right: none;
        border-left: none;
        width: 60%;
        margin: 0 20%;
        font-size: 10px;
    }
    .websiteInfo div:nth-child(2){
        border-top: 1px solid black;
        border-left: none;
    }
    .websiteInfo h2{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 25px;
        font-family: 'Roboto',sans-serif;
    }

    /*--------- Product Detail ---------*/
    .productDetailContainer{
        margin:0;
        z-index: 1;
        padding: 0 5%;
        width: 90%;
        flex-direction: column;
        height: auto;
        margin-top: 100px;
    }
    .productDetailContainer .productDetail{
        width: 100%;
        padding-bottom: 50px;
        height: auto;
    }
    .productDetailContainer .productImage{
        width: 100%;
        max-height: 350px;
    }
    .productDetailContainer .productImage img{
        max-height: 350px;
        max-width: 350px;
    }
    .productDetailContainer .productDetail h1{
        margin-top: 20px;
    }
    .productDetailContainer .productDetail p{
        margin-left: 0;
        width: 100%;
    }
    .productDetailContainer .productDetail .buttons{
        flex-direction: row;
        width: 100%;
    }
    .productDetailContainer .productDetail .buttons button{
        height: 100%;
        padding: 0;
    }
    .productDetailContainer .productDetail div{
        min-width: 30%;
    }
    /*--------- Cart & Liked Products ---------*/
    .likedProductsContainer, .cartProductsContainer{
        width: 90%;
        padding: 0 5%;
    }
    .likedProductsContainer .likedProduct{
        grid-template-columns: 1.5fr 1.5fr 2fr;
    }
    .likedProductsContainer .likedProduct a{
        width: auto;
        margin: auto;
    }
    .likedProductsContainer .productContent{
        display: none;
    }
    .likedProductsContainer .buttons{
        height: auto;
        border: none;
    }
    .likedProductsContainer .buttons .button, .likedProductsContainer .buttons .addToCart, .cartProductsContainer .buttons .button{
        width: 100px;
    }
    
    .cartProductsContainer .cartProduct .productContent{
        margin: 0;
        justify-content: center;
        align-items: center;
        height: inherit;
    }
    .cartProductsContainer .cartProduct .productContent .itemInfo{
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
    .cartProductsContainer .cartProduct{
        grid-template-columns: 1fr 1fr 2fr 2fr 1fr;
    }
    .cartProductsContainer .buttons .addToCart{
        width: 100px;
    }
    .cartProductsContainer .productContent p{
        display: none;
    }
    .cartProductsContainer .cartProduct svg{
        width: auto;
    }
    .cartProductsContainer section .buttons .quantity{
        width: auto;
    }
    .cartProductsContainer section .buttons .quantity .quantityInput{
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        padding: 5px 0;
        margin: 0 2.5px;
    }
    .cartProductsContainer section .messageSection{
        font-size: 15px;
    }
}

@media (max-width:550px){
    .endOfProducts{
        height: auto;
        text-align: center;
    }
    .endOfProducts .socialIcons{
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(2, minmax(0, 25%));
        padding-bottom: 25px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }
    /*----- Cart Products Container -------*/
    .cartProductsContainer .cartProduct{
        grid-template-columns: 1fr 1fr 2fr 2fr;
    }
    .cartProductsContainer .productContent{
        align-self: center;
        margin-top: 0;
        flex-direction: row;
        width: auto;
        padding: 0;
        margin: 0 10px;   
    }
    .cartProductsContainer .productContent span{
        font-size: 16px;
        align-self: center;
    }
    .cartProductsContainer .productContent{
        display: none;
    }
    .cartProductsContainer .productContent{
        flex-direction: column;
    }
    .cartProductsContainer section .messageSection{
        justify-content: space-around;
    }
    .cartProductsContainer section .messageSection .cartButtons button{
        width: 110px;
        font-size: 12px;
    }
    .cartProductsContainer section .messageSection{
        font-size: 12px;
    }
}
@media (max-width:450px){
    .card{
        width: 150px;
        height: auto;
    }
    .card .productTittle{
        font-size: 18px;
    }
    .card .buttons{
        gap: 2.5px;
    }
    .card a:nth-child(1) .button{
        padding: 5px 5px;
    }
    .card a:nth-child(2) .button{
        padding: 5px 10px;
    }
    .productsContainer{
        padding: 10% 0 0 0
    }
    /*----------- Cart & Liked Products ----------*/
    .likedProductsContainer,.cartProductsContainer{
        width: 100%;
        padding: 0;
    }
    .likedProductsContainer .buttons .button, .likedProductsContainer .buttons .addToCart{
        width: 90px;
        font-size: 14px;
        font-weight: 600;
    }
    .cartProductsContainer .cartProduct{
        grid-template-columns: 1fr 1fr 1fr 2fr;
    }
    .cartProductsContainer section .messageSection .cartButtons{
        gap: 10px;
    }
    .cartProduct .buttons{
        padding: 0;
    }
    .cartProduct .buttons .button{
        width: 90px;
    }
    .cartProduct{
        height: 125px;
    }
    .cartProduct .buttons .addButton, .cartProduct .buttons .substractButton, .cartProduct .buttons .quantity{
        width: 25px;
        height: 25px;
    }
    .cartProduct .button{
        height: 30px;
    }
    .returnToProducts{
        margin-left: 10px;
    }
    /*---------- About -------------*/
    .aboutContainer{
        width: 95%;
        padding: 2.5vh 2.5%;
        height: 95vh;
    }
    .closeAbout{
        width: 15%;
    }
    .closeAbout button{
        width: 50px;
        aspect-ratio: 1;
    }
    .aboutContent{
        padding: 0;
    }
    .aboutInfo{
        width: inherit;
    }
    .aboutInfo h2{
        font-size: 16px;
    }
    .aboutInfo p, .aboutContact li{
        font-size: 14px;
    }
}
